{% extends "base.html" %}
{% block title %} Login page {% endblock %}

{% block content %}
<h2>This is login page</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for m in messages %}
            <p style = "color: red">{{m}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div style ="margin-left: 50px;">
    <form action = "#" method = "post">
        <label for ="">Name</label>
        <input type = "text" name = 'name'></input>
        <button style = "background-color: green; color: white;" type = "submit">Login</button>
    </form> 
</div>
{% endblock %}